Implement Draft 12 of spec

[DRAFT 12](https://tools.ietf.org/html/draft-cavage-http-signatures-12)

Version 12 Normative Statements:

> Implementations MUST be able to discover metadata about the key from the `keyId` such that they can determine the type of digital signature algorithm to employ when creating or verifying signatures.

We do not dereference keys here, but we do in the binary `/bin` and in [zcap-verify](https://github.com/digitalbazaar/http-signature-zcap-verify/blob/3ee2bb157d50ed501bc2203c6f7bca352783c86f/main.js#L67-L73) and [zcap-invoke takes an invocationSigner](https://github.com/digitalbazaar/http-signature-zcap-invoke/blob/master/main.js)

> Valid values for this parameter (algorithm) can be found in the HTTP Signatures Algorithms Registry and MUST NOT be marked "deprecated". 
  - [x] check differences between deprecated algorithms from 12 to latest
  - nothing here has changed hs2019 is still the only non-deprecated algorithm

> If `algorithm` is provided and differs from the key metadata identified by the `keyId`, for example `rsa-sha256` but an EdDSA key is identified via `keyId`, then an implementation MUST produce an error.

- [x] Keys are not derefenced in this library directly so should we require that the layer that dereferences keys passes in the keyid key type, and algorithm values and error if they don't match?
- [x] this check should be done in the binary
- [ ] this check should be done possibly in zcap-verify.
- [ ] this check should use the results of `parseRequest` namely `keyId` and `algorithm` in zcap-verify

> The value MUST be a Unix timestamp integer value.
The value is created

- [x] [test here](https://github.com/digitalbazaar/http-signature-header/blob/80f2648e8b850100e1620a4c340fc613040bbb65/tests/10-test.spec.js#L288-L306)

> A signature with a `created` timestamp value that is in the future MUST NOT be processed.

- [x] [test here](https://github.com/digitalbazaar/http-signature-header/blob/80f2648e8b850100e1620a4c340fc613040bbb65/tests/10-test.spec.js#L446-L474)

> The value MUST be a Unix timestamp integer value. 
The value is expires

- [x] [test here](https://github.com/digitalbazaar/http-signature-header/blob/80f2648e8b850100e1620a4c340fc613040bbb65/tests/10-test.spec.js#L614-L642)

> A signature with an `expires` timestamp value that is in the past MUST NOT be processed.

- [x] [test here](https://github.com/digitalbazaar/http-signature-header/blob/80f2648e8b850100e1620a4c340fc613040bbb65/tests/10-test.spec.js#L643-L670)

> If not specified, implementations MUST operate as if the field were specified with a single value, `(created)`, in the list of HTTP headers. 

If not specified refers to the Signature parameter `headers`

>  The list order is important, and MUST be specified in the order the HTTP header field-value pairs are concatenated together during Signature String Construction (Section 2.3) used during signing and verifying.
This is WRT to the signature parameters `headers`

>  2.  A zero-length `headers` parameter value MUST NOT be used, since
>        it results in a signature of an empty string.

> If any of the parameters listed above are erroneously duplicated in the associated header field, then the the signature MUST NOT be processed. 

- [x] add test for same request, same values in sig param headers, different orders, sig strings must not match
- [x] add test sign params header is empty

> Any parameter that is not recognized as a parameter, or is not well-formed, MUST be ignored.

- [x] check/add test for this

> In order to generate the string that is signed with a key, the client
>    MUST use the values of each HTTP header field in the `headers`
>    Signature Parameter, in the order they appear in the `headers`
>    Signature Parameter.  It is out of scope for this document to dictate
>    what header fields an application will want to enforce, but
>    implementers SHOULD at minimum include the `(request-target)` and
>    `(created)` header fields if `algorithm` does not start with `rsa`,
>    `hmac`, or `ecdsa`. Otherwise, `(request-target)` and `date` SHOULD
>    be included in the signature.

- [ ] The statements above are SHOULD so not sure if we need to implement these.

> If the header field name is `(created)` and the `algorithm` parameter starts with `rsa`, `hmac`, or `ecdsa` an implementation MUST produce an error. 

- [x] add tests for these weird algorithm interactions

> If the `created` Signature Parameter is not specified, or is not an integer, an implementation MUST produce an error. 

- [ ] Change validator for created from sig param to only accept integers

> 
> If the header field name is `(expires)` and the `algorithm`
>        parameter starts with `rsa`, `hmac`, or `ecdsa` an implementation
>        MUST produce an error.  If the `expires` Signature Parameter is
>        not specified, or is not an integer, an implementation MUST
>        produce an error.  Otherwise, the header field value is the
>        integer expressed by the `created` signature parameter.

- [x] add checks for these algorithm and psuedo-header interactions

> Create the header field string by concatenating the lowercased
>        header field name followed with an ASCII colon `:`, an ASCII
>        space ` `, and the header field value.  Leading and trailing
>        optional whitespace (OWS) in the header field value MUST be
>        omitted (as specified in RFC7230 [RFC7230], Section 3.2.4 [8]).
> 
>        1.  If there are multiple instances of the same header field, all
>            header field values associated with the header field MUST be
>            concatenated, separated by a ASCII comma and an ASCII space
>            `, `, and used in the order in which they will appear in the
>            transmitted HTTP message.
> 
>        2.  If the header value (after removing leading and trailing
>            whitespace) is a zero-length string, the signature string
>            line correlating with that header will simply be the
>            (lowercased) header name, an ASCII colon `:`, and an ASCII
>            space ` `.
> 
>        3.  Any other modification to the header field value MUST NOT be
>            made.
> 
>        4.  If a header specified in the headers parameter is malformed
>            or cannot be matched with a provided header in the message,
>            the implementation MUST produce an error.

- [x] there are existing tests for this in the http-sigs-test-suite (which might be failing), but we might want to check what happens if a header field is concatenated into an array by express.

> 
>  In order to create a signature, a client MUST:
> 
>    1.  Use the `headers` and `algorithm` values as well as the contents
>        of the HTTP message, to create the signature string.
> 
>    2.  Use the key associated with `keyId` to generate a digital
>        signature on the signature string.
> 
>    3.  The `signature` is then generated by base 64 encoding the output
>        of the digital signature algorithm.

- [x] existing http sigs tests test this with the binary
- [ ] ensure the http-sigs tests check the resultring base64 sig
- [ ] check zcap-sign tests

> 2.5.  Verifying a Signature
> 
>    In order to verify a signature, a server MUST:
> 
>    1.  Use the received HTTP message, the `headers` value, and the
>        Signature String Construction (Section 2.3) algorithm to recreate
>        the signature.
> 
>    2.  The `algorithm`, `keyId`, and base 64 decoded `signature` listed
>        in the Signature Parameters are then used to verify the
>        authenticity of the digital signature.  Note: The application
>        verifying the signature MUST derive the digital signature
>        algorithm from the metadata associated with the `keyId` and MUST
>        NOT use the value of `algorithm` from the signed message.
> 
> 
>    If a header specified in the `headers` value of the Signature
>    Parameters (or the default item `(created)` where the `headers` value
>    is not supplied) is absent from the message, the implementation MUST
>    produce an error.

- [x] existing http-sigs tests test this
- [x] do the zcap-verify tests test this?
  - zcap-verify does not test and an issue was added: https://github.com/digitalbazaar/http-signature-zcap-verify/issues/18

> 
> 
>    If extensions to this specification are made by adding new Signature
>    Parameters, those extension parameters MUST be registered in the
>    Signature Authentication Scheme Registry.  The registry will be
>    created and maintained at (the suggested URI)
>    https://www.iana.org/assignments/http-auth-scheme-signature [19].  An
>    example entry in this registry is included below:

closing as release 2.0 of https-sigs contains these features and zcap-verify and invoke have also been updated.